<div class="answer">
  <h1>You are <%= @guess ? "Correct" : "WRONG!" %></h1>

  <h2>Your answer <%= @user_guess %></h2>
  <h1>The answer is <%= @answer %>.</h1>
</div>
<% if session[:cards].empty? %>
  <p>Congrats on completing <%= @deck.name %></p>
<% else %>
 <form action="/round/<%= @round.id%>/deck/<%= @deck.id %>/cards/<%= session[:cards].pop %>" method="get">
  <input type="submit" value="Next">
</form>
<% end %>
<a href="/results/<%= @round.id %>">End Game</a>
