<div class="landing-page-stats">
<% if current_user.rounds.last == @round %>
  <h1>Last Game</h1>
<% else %>
  <h1> Round No.<%= current_user.rounds.index(@round) + 1 %></h1> 
  <% end %>

<table class="stats-list">
  <tr>
    <th>Deck</th>
    <th>Total</th>
    <th>Correct</th>
    <th>Incorrect</th>
    <th>% correct</th>
  </tr>
  <tr>
    <td><%= @round.deck.name %></td>
    <td><%= @round.deck.cards.length %>
    <td><%= correct(@round_stats) %></td>
    <td><%= wrong(@round_stats) %></td>
    <td> <%= percentage_correct(@round_stats)  %></td>
  </tr>
  
</table>
<a href="/users">Back to main page</a>
</div>


