<div class="container">
  <section class="editorWrap">
    <h1 class="animate dropIn">FlashCards</h1>
    <div class="editor animate fadeIn">
      <div class="menu"></div><!-- end .menu -->
      <div class="code">
        <textarea class="text">Flashcards</textarea>
      </div>
    </div>
  </section>  
  <p>&nbsp;</p> 
</div>

<table class="stats-list">
<% if current_user.rounds.any? %>
<caption><h2><%= current_user.name.capitalize.possessive %> games</h2></caption>
  <tr>
    <th>Num</th>
    <th>Deck</th>
    <th>Correct</th>
    <th>Time</th>
  </tr>


<% current_user.rounds.each do |round| %>
  <% stats = round_stats(round.id) %>
  <tr>
    <td><a href="/results/<%= round.id %>"><%= current_user.rounds.index(round) + 1 %></a></td>
    <td><%= round.deck.name %></td>
    <td><%= percentage_correct(stats) %>%</td>
    <td><%= (round.created_at).ago_in_words %></td>
  </tr>
<% end %>
<% end %>
</table>


<h2>PICK A DECK!</h2>
<form class="deck-dropdown"action="/rounds" method="post">
  <select name="deck">
    <option name="deck" value="Jeopardy">Jeopardy</option>
    <option name="deck" value="test">test</option>
  </select>
  <input type="submit" value="PLAY">
</form>




